<div class="dashboard-container">
  <mat-toolbar style="background-color:  #c1d82f;height:10% ; color: white;">
    
    <span class="example-spacer"></span>
    <mat-form-field style=" width:20%; height:100% ; margin-top: 2%" class="project-selector">
      <mat-label>Select a project</mat-label>
      <mat-select [(value)]="selectedProjectId" (selectionChange)="onProjectSelected()">
        <!-- Champ de recherche -->
        <div class="search-box">
          <mat-form-field appearance="outline" floatLabel="always">
            <input matInput placeholder="search..." [(ngModel)]="searchTerm" (input)="filterProjects()">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>

        <!-- Liste filtrée -->
        @for (id of filteredProjectIds; track id) {
        <mat-option [value]="id">{{ projectDictionary[id] }}</mat-option>
        }

        <!-- Message vide -->
        @if (filteredProjectIds.length === 0) {
        <mat-option disabled>
          {{ searchTerm ? 'No results' : 'No projects available' }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <!-- Correct -->
    <button mat-icon-button color="success"><mat-icon>analytics</mat-icon>
    </button>

    <!-- <button  class="btn btn-success">
</button> -->

    <!-- <button mat-icon-button aria-label="Déconnexion" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button> -->
    <button mat-icon-button color="red" (click)="logout()" aria-label="logout">
      <mat-icon style="color: red;">exit_to_app</mat-icon>
      <!-- logout -->
    </button>
  </mat-toolbar>

  <mat-menu #menu="matMenu">
    <ng-container *ngIf="projectDictionary && getProjectIds().length > 0; else noProjects">
      <button mat-menu-item *ngFor="let id of getProjectIds()" (click)="selectProject(id)">
        {{ projectDictionary[id] }}
      </button>
    </ng-container>
    <ng-template #noProjects>
      <button mat-menu-item disabled>No projects available</button>
    </ng-template>
  </mat-menu>

  <!-- Champ de recherche avec menu déroulant -->

  <!-- Barre latérale -->
  <!-- Contenu principal -->
  <div class="main-content">


    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>



    <div *ngIf="projects.length === 0" class="alert alert-info">
      No projects found.
    </div>



    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="filteredTasks" matSort (matSortChange)="sortData($event)">

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-form-field appearance="outline" floatLabel="always" class="search-header">
              <mat-label>Search ID</mat-label>
              <input matInput (keyup)="applyFilter($event, 'id')" placeholder="Search">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <!-- ID
            <input matInput placeholder="Search" (input)="applyFilter($event, 'id')" /> -->
          </th>
          <td mat-cell *matCellDef="let task"> {{task.id}} </td>
        </ng-container>
        //
        <ng-container matColumnDef="key">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-form-field appearance="outline" floatLabel="always" class="search-header">
              <mat-label>Search KEY</mat-label>
              <input matInput (keyup)="applyFilter($event, 'key')" placeholder="Search">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <!-- ID
            <input matInput placeholder="Search" (input)="applyFilter($event, 'id')" /> -->
          </th>
          <td mat-cell *matCellDef="let task">
            <a [href]="'https://grosste02.atlassian.net/browse/' + task.key" target="_blank">
              {{ task.key }}
            </a>
          </td>
        </ng-container>
//
        <!-- <ng-container matColumnDef="key">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:150px; width: 150px;"> Key
            <input matInput placeholder="Search" (input)="applyFilter($event, 'key')"
              style="max-width:100px; width: 100px;" />
          </th>
          <td mat-cell *matCellDef="let task">
            <a [href]="'https://grosste02.atlassian.net/browse/' + task.key" target="_blank">
              {{ task.key }}
            </a>
          </td>
        </ng-container> -->

        <!-- Key Column -->
        <!-- <ng-container matColumnDef="key">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Key </th>
          <td mat-cell *matCellDef="let task"> {{task.key}} </td>
        </ng-container> -->

        <!-- Summary Column -->

        <!-- <ng-container matColumnDef="summary">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:150px; width: 150px;">
            Summary
            <input matInput placeholder="Search" (input)="applyFilter1($event, 'summary')"
              style="max-width:100px; width: 100px;" />
          </th>

          <td mat-cell *matCellDef="let task">
            <div style="max-width: 200px; overflow-x: auto; white-space: nowrap;">
              {{ task.fields.summary }}
            </div>
          </td>
        </ng-container> -->


        <ng-container matColumnDef="summary">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-form-field appearance="outline" floatLabel="always" class="search-header">
              <mat-label>Search summary</mat-label>
              <input matInput (keyup)="applyFilter1($event, 'summary')" placeholder="Search">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <!-- ID
            <input matInput placeholder="Search" (input)="applyFilter($event, 'id')" /> -->
          </th>
          <td mat-cell *matCellDef="let task">
            <div style="max-width: 200px; overflow-x: auto; white-space: nowrap;">
              {{task.fields.summary}}
            </div>
          </td>
        </ng-container>

        <!-- Epic Column -->
        <ng-container matColumnDef="epic">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-form-field appearance="outline" floatLabel="always" class="search-header">
              <mat-label>Filtrer par Epic</mat-label>
              <mat-select multiple [(value)]="selectedEpics"
                (selectionChange)="applyMultiSelectFilterEpic($event.value, 'epic')" style="font-size: 13px;">
                <mat-option *ngFor="let epic of epicList" [value]="epic" style="min-height: 36px; font-size: 13px;">
                  {{ epic }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </th>

          <!-- Cellule de données -->
          <td mat-cell *matCellDef="let task">
            <div style="max-width: 150px; overflow-x: auto; white-space: nowrap;">
              {{ task.fields.parent && task.fields.parent.key ? task.fields.parent.key : 'N/A' }}
            </div>
          </td>
        </ng-container>


        <!-- IssueType Column -->
        <ng-container matColumnDef="issuetype">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-form-field appearance="outline" floatLabel="always" class="search-header">
              <mat-label>Filtrer par type</mat-label>
              <mat-select multiple [(value)]="selectedIssueTypes"
                (selectionChange)="applyMultiSelectFilterType($event.value)" style="font-size: 13px;">
                <mat-option *ngFor="let type of issueTypeList" [value]="type"
                  style="min-height: 36px; font-size: 13px;">
                  {{ type }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </th>

          <td mat-cell *matCellDef="let task">
            <div style="max-width: 150px; overflow-x: auto; white-space: nowrap;">
              {{ task.fields.issuetype.name }}
            </div>
          </td>
        </ng-container>


        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-form-field appearance="outline" floatLabel="always" class="search-header">
              <mat-label>Filter by status</mat-label>
              <mat-select multiple [(value)]="selectedStatuses"
                (selectionChange)="applyMultiSelectFilterStatus($event.value, 'status')" style="font-size: 13px;">
                <mat-option *ngFor="let status of statusList" [value]="status"
                  style="min-height: 36px; font-size: 13px;">
                  {{ status }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </th>

          <!-- Cellule de données -->
          <td mat-cell *matCellDef="let task">
            <div style="max-width: 150px; overflow-x: auto; white-space: nowrap;">
              {{ task.fields.status.name }}
            </div>
          </td>
        </ng-container>


        <!-- Reg Package Column -->


        <!-- Sprint Column -->
        <ng-container matColumnDef="sprint">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-form-field appearance="outline" floatLabel="always" class="search-header">
              <mat-label>Filter by sprint</mat-label>
              <mat-select multiple [(value)]="selectedSprints"
                (selectionChange)="applyMultiSelectFilterSprint($event.value)" style="font-size: 13px;">
                <mat-option *ngFor="let sprint of sprintList" [value]="sprint"
                  style="min-height: 36px; font-size: 13px;">
                  {{ sprint }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </th>

          <td mat-cell *matCellDef="let task">
            <div style="max-width: 150px; overflow-x: auto; white-space: nowrap;">
              {{ task.fields.customfield_10020 && task.fields.customfield_10020[0]?.name ?
              task.fields.customfield_10020[0].name : 'N/A' }}
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="assignee">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-form-field appearance="outline" floatLabel="always" class="search-header">
              <mat-label>Filter by assigned</mat-label>
              <mat-select multiple [(value)]="selectedAssignees"
                (selectionChange)="applyMultiSelectFilterAssignee($event.value, 'assignee')" style="font-size: 13px;">
                <mat-option *ngFor="let assignee of assigneeList" [value]="assignee"
                  style="min-height: 36px; font-size: 13px;">
                  {{ assignee }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </th>

          <td mat-cell *matCellDef="let task">
            <div style="max-width: 150px; overflow-x: auto; white-space: nowrap;">
              {{ task.fields.assignee ? task.fields.assignee.displayName : 'N/A' }}
            </div>
          </td>
        </ng-container>


        <!-- <ng-container matColumnDef="reporter">
  <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding: 8px 16px; background-color: #f8f9fa;">
    <div style="font-weight: 600; color: #000000; margin-bottom: 8px;">Reporter</div>

    <mat-form-field appearance="fill" style="width: 100%; margin-top: 4px;">
      <mat-select multiple placeholder="Filtrer par reporter" [(value)]="selectedReporters"
        (selectionChange)="applyMultiSelectFilterReporter($event.value, 'reporter')"
        style="font-size: 13px; background-color: #ffffff;">
        <mat-option *ngFor="let reporter of reporterList" [value]="reporter"
          style="min-height: 36px; font-size: 13px;">
          {{ reporter }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </th>

  <td mat-cell *matCellDef="let task">
    {{ task.fields.reporter?.displayName || 'N/A' }}
  </td>
</ng-container> -->

        <ng-container matColumnDef="reporter">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-form-field appearance="outline" floatLabel="always" class="search-header" style=" margin-top: 8px;">
              <mat-label>Filter by reporter</mat-label> <!-- ✅ libellé corrigé -->
              <mat-select multiple [(value)]="selectedReporters"
                (selectionChange)="applyMultiSelectFilterReporter($event.value, 'reporter')" style="font-size: 13px;">
                <mat-option *ngFor="let reporter of reporterList" [value]="reporter"
                  style="min-height: 36px; font-size: 13px;">
                  {{ reporter }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </th>

          <td mat-cell *matCellDef="let task">
            <div style="max-width: 150px; overflow-x: auto; white-space: nowrap;">
              {{ task.fields.reporter?.displayName || 'N/A' }}
            </div>
          </td>
        </ng-container>




        <!-- QA Creation Column -->
        <ng-container matColumnDef="qaCreation">
  <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: 600; font-size: 14px; color: #3c3c3c; text-align: center;">
    QA Creation
  </th>
  <td mat-cell *matCellDef="let task" [ngStyle]="{'background-color': getTaskColor(task, 'QA Test case creation')}">
    {{ getTaskStatusCreation(task) | async }}
  </td>
</ng-container>


        <!-- QA Review Column -->
        <ng-container matColumnDef="qaReview">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> QA Review </th>
          <td mat-cell *matCellDef="let task"
            [ngStyle]="{'background-color': getTaskColor(task, 'QA Test case review')} ">{{getTaskStatusReview(task) |
            async}} </td>
        </ng-container>

        <!-- Regression Creation Column -->
        <!-- <ng-container matColumnDef="regressionCreation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Regression Creation </th>
          <td mat-cell *matCellDef="let task"> {{task.fields.regressionCreation || 'N/A'}} </td>
        </ng-container> -->

        <!-- Regression Review Column -->
        <ng-container matColumnDef="QA Test case execution">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> QA execution</th>
          <td mat-cell *matCellDef="let task"
            [ngStyle]="{'background-color': getTaskColor(task, 'QA Test case execution')}">
            {{getTaskStatusExecution(task) | async}} </td>
        </ng-container>


        <ng-container matColumnDef="Regression Test Case Creation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Regression Creation </th>
          <td mat-cell *matCellDef="let task"
            [ngStyle]="{'background-color': getTaskColor(task, 'Regression Test Case Creation')}">
            {{getTaskStatusRCreation(task)| async}} </td>
        </ng-container>
        <ng-container matColumnDef="Regression Test Case Review">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Regression Review </th>
          <td mat-cell *matCellDef="let task"
            [ngStyle]="{'background-color': getTaskColor(task, 'Regression Test Case Review')}">
            {{getTaskStatusRview(task) | async}} </td>
        </ng-container>
<!-- Deploy Column -->
        <!-- <ng-container matColumnDef="deploy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Deploy </th>
          <td mat-cell *matCellDef="let task"> {{task.fields.deploy || 'N/A'}} </td>
        </ng-container> -->

        <!-- Assign To Column -->
        <!-- <ng-container matColumnDef="Assign to">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Assign To </th>
          <td mat-cell *matCellDef="let task"> {{task.fields.assignTo || 'N/A'}} </td>
        </ng-container> -->

        <!-- Status Test Column -->



        <ng-container matColumnDef="regPackage">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Regression Package </th>
          <!-- <td mat-cell *matCellDef="let task"> {{ task.regPackageId ? task.regPackageId : 'Aucun regPackageId' }}
          </td> -->
          <td mat-cell *matCellDef="let task">
            <div style="max-width: 100px; overflow-x: auto; white-space: nowrap;">
              {{ task.regPackageId ? task.regPackageId : 'Empty' }}
            </div>
          </td>

        </ng-container>
        <ng-container matColumnDef="Comment">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Comment</th>
          <td mat-cell *matCellDef="let task">{{ task.comment || 'N/A' }}</td>
        </ng-container>
        <ng-container matColumnDef="time_needed_for_tc_creation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Time Needed for TC Cre</th>
          <td mat-cell *matCellDef="let task">{{ task.timeNeededForTcCreation || 'N/A' }}</td>
        </ng-container>
        <ng-container matColumnDef="time_needed_to_test">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Time needed to test</th>
          <td mat-cell *matCellDef="let task">{{ task.timeNeededToTest || 'N/A' }}</td>
        </ng-container>
        <ng-container matColumnDef="bugs_raised">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Bugs Raised</th>
         

          <td mat-cell *matCellDef="let task">{{ task.bugsRaised || 'N/A' }}</td>
        </ng-container>
        <ng-container matColumnDef="nb_tc">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Number of TC</th>
          <td mat-cell *matCellDef="let task">{{ task.nbTc || 'N/A' }}</td>
        </ng-container>
        <ng-container matColumnDef="Nb_tc_modified">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Number of TC mod</th>
          <td mat-cell *matCellDef="let task">{{ task.nbTcModified || 'N/A' }}</td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let task" class="action-cell">
            <button mat-icon-button class="action-btn add" matTooltip="Ajouter" (click)="onAjoutSup(task)"
              *ngIf="!task.regPackageId && !task.comment && !task.timeNeededForTcCreation && !task.timeNeededToTest && !task.bugsRaised && !task.nbTc && !task.nbTcModified ">
              <mat-icon>add_circle</mat-icon>
            </button>
            <button mat-icon-button class="action-btn edit" matTooltip="Modifier" (click)="openUpdateDialog(task)"
              *ngIf="task.regPackageId || task.comment || task.timeNeededForTcCreation != null || task.timeNeededToTest != null || task.bugsRaised != null || task.nbTc != null || task.nbTcModified != null">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="action-btn delete" matTooltip="Supprimer" (click)="onDelete(task)"
              *ngIf="task.regPackageId || task.comment || task.timeNeededForTcCreation != null || task.timeNeededToTest != null || task.bugsRaised != null || task.nbTc != null || task.nbTcModified != null">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <!-- Paginator -->

    </div>

    <div *ngIf="tasks.length === 0 && selectedProject" class="alert alert-info">
      No Tasks for this project </div>
  </div>
  
  

</div>